// ******************************************************#
// [home.component.sass]
// ******************************************************#

@import "node_modules/sass-mediaqueries/media-queries"

.satellite-images-wrapper
  margin-top: 20px

  &.loading
    height: 600px

  .row
    position: relative
    height: inherit

  .preloader
    width: calc(100% - 30px)
    left: 15px

// --------------------------------------
// [Browser Width: 992px up] ::start
// --------------------------------------

+min-screen(992px)

  .satellite-images-wrapper
    margin-top: 0

    &.loading
      height: calc(100vh - 70px)
      min-height: 0

// --------------------------------------
// [Browser Width: 992px up] ::end
// --------------------------------------



