<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 satellite-filter-form-wrapper">
            <app-satellite-data-filter-form
                [provinces]="provinces | async"
                [satellites]="satellites | async"
                [imageStyles]="satelliteStyles | async"
                (filter)="onSatelliteDataFilter($event)">
            </app-satellite-data-filter-form>
        </div>

        <div class="col-md-9 satellite-images-wrapper" [class.loading]="loaderVisible">
            <div class="row gallery" *ngIf="images | async as satelliteImages; else imagesLoading">
                <app-responsive-media class="gallery__item col-sm-3 col-md-4 col-lg-3" *ngFor="let image of satelliteImages">
                    <img [src]="image.url" [alt]="image.date" #media />

                    <span class="text-center" caption>{{ image.date | date:'mediumDate' }}</span>
                </app-responsive-media>
            </div>
        </div>
    </div>
</div>

<ng-template #imagesLoading>
    <div class="row">
        <div class="preloader preloader--visible col-xs-12" *ngIf="loaderVisible">
            <div class="preloader__content">
                <div class="sk-wave">
                    <div class="sk-rect sk-rect1"></div>
                    <div class="sk-rect sk-rect2"></div>
                    <div class="sk-rect sk-rect3"></div>
                    <div class="sk-rect sk-rect4"></div>
                    <div class="sk-rect sk-rect5"></div>
                </div>
            </div>
        </div>

        <div class="empty-message" *ngIf="!loaderVisible">
            <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" dismissible="true" (onClosed)="onAlertClose(alert.id)">{{ alert.msg }}</alert>
            </div>

            <h2>How to use:</h2>

            <ol>
                <li>Choose what satellite you want your images to come from.</li>
                <li>Determine the coverage of the satellite you want to explore. Select the start date and end date. *</li>
                <li>Select a province.</li>
            </ol>

            <strong>
                * Some dates may not display images because of the availability of satellite data.
                Complete available data, as of the moment, are from 2013-2016.
            </strong>
        </div>
    </div>
</ng-template>


