<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-satellite-data-filter-form></app-satellite-data-filter-form>
        </div>
        <div class="col-md-9">
            <div class="row">
                <app-responsive-media class="col-sm-3 col-md-4 col-lg-3" *ngFor="let image of images">
                    <img
                        src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=256x256&amp;w=256&amp;h=256"
                        alt="SARAi Logo"
                        #media />
                </app-responsive-media>
            </div>
        </div>
    </div>
</div>


