// ******************************************************#
// [Navigation Sass Entry Point]
// ******************************************************#

// ------------------------------------------------------#
// [Navbar] ::start
// ------------------------------------------------------#

#main-navbar
  .img
    margin-top: 5px
    height: 40px

// ------------------------------------------------------#
// [Navbar] ::end
// ------------------------------------------------------#

// --------------------------------------
// [Browser Width: 788px up] ::start
// --------------------------------------

+min-screen(768px)

  .navbar-nav
    > li > a
      padding-top: 17.5px
      padding-bottom: 17.5px

// --------------------------------------
// [Browser Width: 788px up] ::end
// --------------------------------------


