// ******************************************************#
// [Site Sass Entry Point]
// ******************************************************#

// ------------------------------------------------------#
// [General Styles] ::start
// ------------------------------------------------------#

#logo
  margin: 5px 0 0 5px
  padding: 0

  .img
    width: 90px

.agencies-logo-wrapper
  display: none
  margin-left: 25px

// ------------------------------------------------------#
// [General Styles] ::end
// ------------------------------------------------------#


// ------------------------------------------------------#
// [Headings] ::start
// ------------------------------------------------------#

.heading-1
  margin-top: 0

// ------------------------------------------------------#
// [Headings] ::end
// ------------------------------------------------------#


// ------------------------------------------------------#
// [Aspect Ratio] ::start
// ------------------------------------------------------#

// .aspect-ratio-11x5
//   padding-bottom: 45.4545455% !important

// ------------------------------------------------------#
// [Aspect Ratio] ::end
// ------------------------------------------------------#

// --------------------------------------
// [Browser Width: 768px up] ::start
// --------------------------------------

+min-screen(768px)

  .agencies-logo-wrapper
    display: block

// --------------------------------------
// [Browser Width: 768px up] ::end
// --------------------------------------



